rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura publica de produtos e config da loja. Escrita permitida para PDV.
    match /products/{product} {
      allow read, write: if true; // Aberto temporariamente para o PDV funcionar sem login admin
    }
    
    match /settings/{setting} {
      allow read, write: if true;
    }

    match /orders/{order} {
      // PDV precisa de update para mudar status ('aprovado') e criar (balcao). Cliente precisa create.
      allow read, write: if true;
    }

    // Clientes: Proteção de dados sensíveis
    match /customers/{customerId} {
      allow read, write: if request.auth != null && request.auth.uid == customerId;
    }
  }
}
